---
const currentYear = new Date().getFullYear()
---

<footer class="flex items-center justify-center p-4 md:p-6">
  <p class="w-full max-w-6xl border-t border-surface-border pt-4 text-object-high md:pt-6">
    &copy; {currentYear} Alexandre Anício's Website. All rights reserved.
  </p>
</footer>
