---
import { Image } from 'astro:assets'
import PostsPreview from 'components/astro/posts/PostsPreview/index.astro'
import RootLayout from 'layouts/RootLayout.astro'
---

<RootLayout title="Home">
  <div class="grid gap-10">
    <section class="grid gap-8 md:grid-cols-[max-content_1fr]">
      <Image
        width={256}
        height={256}
        src="/images/me.jpeg"
        alt="Author"
        class="self-center justify-self-center rounded-full border border-surface-border bg-cover"
        loading="eager"
      />
      <div class="grid auto-rows-min gap-4">
        <h1 class="prose-h1">Hi there, I'm Alexandre!</h1>
        <p class="prose-body1">
          I'm an engineer driven by curiosity, passionate about exploring new technologies, hands-on
          learning, and tackling challenges across frontend, backend, cloud computing, and
          infrastructure automation.
        </p>
        <p class="prose-body1">
          This blog is a space to share insights from my professional journey, practical guides, and
          stories about how I approach challenges in software development.
        </p>
        <p class="prose-h6">Thanks for stopping by, enjoy your stay!</p>
      </div>
    </section>
    <PostsPreview />
  </div>
</RootLayout>
