---
import { GITHUB_PROFILE, LINKEDIN_PROFILE } from 'constants/links'
import Anchor from '../design-system/Anchor/index.astro'
---

<header
  class="sticky left-0 top-0 z-20 flex w-full justify-center bg-surface-background/70 backdrop-blur-lg"
>
  <div
    class="grid w-full max-w-6xl grid-cols-1 items-center justify-between gap-3 px-4 py-2 md:grid-cols-[1fr_auto] md:p-3"
  >
    <h1 class="prose-h3 text-center text-object-high md:prose-h2 md:text-start">
      <a href="/" class="text-inherit no-underline">alexandre anício</a>
    </h1>
    <nav class="w-full">
      <ul class="flex justify-center space-x-4">
        <li><Anchor href="/blog" class="text-object-high">Blog</Anchor></li>
        <li><Anchor href={GITHUB_PROFILE} class="text-object-high">GitHub</Anchor></li>
        <li><Anchor href={LINKEDIN_PROFILE} class="text-object-high">LinkedIn</Anchor></li>
      </ul>
    </nav>
  </div>
</header>
