---
const currentYear = new Date().getFullYear()
---

<footer class="flex items-center justify-center p-4 md:p-6">
  <p class="text-object-high border-surface-border w-full max-w-6xl border-t pt-4 md:pt-6">
    &copy; {currentYear} Alexandre Anício's Website. All rights reserved.
  </p>
</footer>
