---
import { cls } from 'utils/string'

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { class: customClass = '', rel: customRel, ...props } = Astro.props

const isExternalLink = (href: astroHTML.JSX.AnchorHTMLAttributes['href']) => {
  try {
    if (!href) return false
    const link = new URL(href)
    return link.origin !== Astro.url.origin
  } catch {
    return false
  }
}

const externalLink = isExternalLink(props.href)
const rel = externalLink ? 'noopener noreferrer' : undefined
const target = externalLink ? '_blank' : undefined
---

<a
  class={cls(
    'underline-offset-2 hover:underline hover:text-primary-high prose-button',
    customClass ?? '',
  )}
  rel={cls(rel ?? '', customRel ?? '')}
  target={target}
  {...props}
>
  <slot />
</a>
