@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-full-minus-layout {
    @apply min-h-[calc(100vh-94px-73px)] md:min-h-[calc(100vh-72px-97px)];
  }

  .reply-timeline {
    @apply relative;
  }

  .reply-timeline::before {
    @apply absolute bottom-0 left-[30px] top-0 block w-[2px] bg-surface-border content-[''] first:top-[12px];
  }

  .index-tracker-timeline {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 500ms;
    @apply relative;
  }

  .index-tracker-timeline::before {
    @apply absolute bottom-0 left-[0px] top-0 block w-[2px] bg-surface-border content-[''] first:top-[12px];
    transition-property: background;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 500ms;
  }

  .adjust-heading-scroll {
    h3[id] {
      @apply scroll-mt-[150px] md:scroll-mt-24;
    }
  }

  .markdown {
    @apply prose-body2 text-object-high;
    em {
      @apply italic text-object-low;
    }

    blockquote {
      @apply border-l-4 border-l-primary-main pl-4 italic text-object-low;
    }

    pre {
      @apply rounded bg-surface-border p-1 mt-0;
    }

    code {
      @apply rounded-sm px-2 py-1 text-primary-contrast;
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-surface-active rounded-3xl;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-surface-disabled border border-surface-border rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-surface-disabled/50;
  }

  .emoji-font {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  }
}

