@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-full-minus-layout {
    @apply min-h-[calc(100vh-76px-73px)] md:min-h-[calc(100vh-84px-97px)];
  }

  .reply-timeline {
    @apply relative;
  }

  .reply-timeline::before {
    @apply absolute bottom-0 left-[30px] top-0 block w-[2px] bg-surface-border content-[''] first:top-[12px];
  }

  .index-tracker-timeline {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 500ms;
    @apply relative;
  }

  .index-tracker-timeline::before {
    @apply absolute bottom-0 left-[0px] top-0 block w-[2px] bg-surface-border content-[''] first:top-[12px];
    transition-property: background;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 500ms;
  }

  .adjust-heading-scroll {
    h3[id] {
      @apply scroll-mt-[150px] md:scroll-mt-24;
    }
  }

  .markdown {
    @apply prose-body2 text-object-high;
    em {
      @apply italic text-object-low;
    }

    blockquote {
      @apply border-l-4 border-l-primary-main pl-4 italic text-object-low;
    }

    pre {
      @apply mt-0 rounded bg-surface-border p-1;
    }

    code {
      @apply rounded-sm px-2 py-1 text-primary-contrast;
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-5 w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-3xl bg-surface-active;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border border-surface-border bg-surface-disabled;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-surface-disabled/50;
  }

  .emoji-font {
    font-family:
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  }
}
